<div *ngIf="loading">
  loading...
</div>

<ul *ngFor="let category of categoryList">
  <li class="category">{{category}}</li>

  <button (click)="showWordsButton(category)">
    {{ showCategoryWords[category] ? 'Hide the words' : 'Show the words' }}
  </button>

  <div *ngIf="showCategoryWords[category] ">
    <ul *ngFor="let wordObject of userList">
      <div *ngIf="wordObject.category === category">
        <li class="english"> {{wordObject.word}} </li>
        <li class="russian"> {{wordObject.translation}}</li>
      </div>
    </ul>
  </div>
</ul>