<div style="text-align:center">
  <p>
    <span class="question">What do you want to know?:</span>
    <br>
    <input [(ngModel)]="word" (keyup)="onKey()" type="text" size="40">
    <button (click)="clearInput()">Clear</button>
  </p>
  <div *ngIf="loading">
    <span class="loading">I'm looking for translation</span>
  </div>
  
  <div *ngIf="translate.length">
    <span class="response">Here is your word:</span>
    <br>
    <div class="translation">
      <ul>
        <li *ngFor="let oneWord of translate">
          {{ oneWord }}
        </li>
      </ul>
    </div>
    <input [(ngModel)]="category" (keyup)="onKey()" type="text" size="40">
    <button (click)="saveWord()">Remember</button>
  </div>